# Dependencies
node_modules
.pnpm-store

# Next.js build output
.next
out

# NestJS build output
dist
*.tsbuildinfo

# Turborepo
.turbo

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# IDEs
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
